.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
canvas{
   margin: 90px;
   border-radius: 20px; 
   border-color: aqua;
   border-width: 10px;
   border-style: dashed;
   box-shadow: 30px;
}
